<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>视频搜索</title>
    <link rel="stylesheet" href="./stylesheets/search.css">
</head>
<body>
<header class="header">
    <div class="h-con">这是头部</div>
</header>
<div class="search-box">
    <div class="search-con">
        <input type="text" class="input">
        <div class="s-btn">搜索</div>
    </div>
</div>
<div class="video-box">
    <div class="item">
        <a href="#" class="img">
            <img src="//i2.hdslb.com/bfs/archive/aabc26d9ce8b39127834857417d2735174a88bce.jpg@400w_250h.jpg" alt="">
        </a>
        <div class="title">
            <a href="">啦<em class="keyword">啦啦</em>德玛西亚【合并版】【720p】</a>
        </div>
        <div class="info">
            <span class="view">点击: 300万</span>
            <span class="time">时间: 2018-10-11</span>
        </div>
    </div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>
</body>
</html>