<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/video_play.css">
</head>
<body>
<header class="header">
    <div class="h-con">这是头部</div>
</header>
<div class="container">
    <div class="l-con">
        <div class="video">
            <span class="board-top"></span>
            <span class="board-bottom"></span>
            <span class="board-right"></span>
            <iframe id="iframe" src="//player.bilibili.com/player.html?aid=<%= aid%>"
                    scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
            </iframe>
        </div>
    </div>

    <div class="r-con">
        <span class="rec-title">相关视频推荐</span>
        <div class="rec-list">
            <div class="video-page-card">
                <div class="pic-box">
                    <a href="#">
                        <img src="//i0.hdslb.com/bfs/archive/19cd897c61c584a07c4f6b089568d7bcce183704.jpg@336w_190h.jpg" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a class="video-title" href="#">【老番茄】史上最骚大镖客（第二期）</a>
                    <a class="up" href="#">老番茄</a>
                    <div class="video-count">95.5万播放 · 4922弹幕</div>
                </div>
            </div>
            <div class="video-page-card">
                <div class="pic-box"></div>
                <div class="video-info">
                    <a class="video-title" href="#">【老番茄】史上最骚大镖客（第二期）</a>
                    <a class="up" href="#">老番茄</a>
                    <div class="video-count">95.5万播放 · 4922弹幕</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./javascripts/jquery.js"></script>
<script src="./javascripts/video_play.js"></script>
</body>
</html>