body,div,span,h1,h2,h3,h4,h5,h6,hr,p,blockquote,strong,var,b,u,i,center,dl,dt,dd,ul,ol,li,prea,address,fieldset,form,fieldset,label,legend,button,input,textarea,th,td, header, footer{margin:0;padding:0;}
html{
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: #000;
}

.header{
    width: 100%;
    height: 50px;
    box-shadow:rgba(0, 0, 0, 0.1) 0 1px 2px;
    font-size: 12px;
}
.h-con{
    display: block;
    position: relative;
    width: 1160px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.container{
    position: relative;
    width: 1160px;
    height: 800px;
    margin: 30px auto;
    border: 1px solid #000;
}
.video{
    position: relative;
    display: block;
    width: 800px;
    height: 600px;
}
#iframe{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.board-top{
    display: block;
    position: absolute;
    top: 0;
    width: 800px;
    height: 48px;
    background-color: #252525;
    z-index: 100;
}
.board-bottom{
    display: block;
    position: absolute;
    top: 562px;
    width: 800px;
    height: 38px;
    background-color: #fff;
    z-index: 100;
}
.board-right{
    display: block;
    position: absolute;
    top: 56px;
    right: 0;
    width: 170px;
    height: 30px;
    background-color: #000;
    z-index: 100;
    opacity: 0;
}
.l-con{
    position: relative;
    float: left;
    width: 100%;
}




/*---------------r-con----------*/
.r-con{
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    border: 1px solid #000;
}